.orange-text {
    color: #fd7e14;
}

.orange-bg {
    background-color: #fd7e14 !important;
}

.nav-orange {
    color: #fd7e14;
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav-orange:hover {
    transform: scale(1.1);
    color: #fbb378;
}

.active-orange {
    background-color: #fd7e14;
    color: black;
    transition: transform 0.3s ease;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.active-orange:hover {
    transform: scale(1.1);
    color: black;
    background-color: #fbb378;
}

.profile-picture {
    max-width: 300px;
    height: auto;
    object-fit: cover;
}

.icon-img {
    width: 24px;
    height: 24px;
    margin: 5px;
}

.icon {
    width: 48px;
    height: 48px;
}

.social-icon-img {
    width: 24px;  
    height: 24px;
    transition: transform 0.3s ease;
}

.social-icon-img:hover {
    transform: scale(1.1);
}

.text-bg-dark {
    transition: background-color 2s ease;
}

.transparent-header {
    background-color: rgba(33, 37, 41, 0.9) !important;
}

.portfolio-img {
    height: 225px;
    width: 100%;
    object-fit: cover;
    object-position: top left;
}